<p id="notice"><%= notice %></p>

<h1>User</h1>

<p>
  <strong>ID:</strong>
  <%= @user.id %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Last signin:</strong>
  <%= @user.last_sign_in_at %>
</p>
<p>Rollen:
        <% @rollen.each do |r|%>
        <%=r.name%><br>
          <%end%>


</p>
Rolle hinzufügen: </br>
<% @rolle.each do |r|%>
<% if ((@user.has_role? r.name) == false) %>
<td> <%= button_to r.name, { action: "add" , :user_id => @user.id,:role_id => r.id}, form_class: "new-thing",  method: :get %></td>
                <%end%>
<%end%>
Rolle entfernen: </br>
<% @rolle.each do |r|%>
        <% if (@user.has_role? r.name)  %>
                <td> <%= button_to r.name, { action: "remove" , :user_id => @user.id,:role_id => r.id}, form_class: "new-thing",  method: :get %></td>
        <%end%>
<%end%>

<%= link_to 'New Site', new_site_path %>