<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @menu.link %>
</p>

<p>
  <strong>Typ:</strong>
  <%= @menu.typ %>
</p>

<p>
  <strong>Order:</strong>
  <%= @menu.order %>
</p>

<p>
  <strong>Location:</strong>
  <%= @menu.location %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
