<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>



<p>
  <strong>Typ:</strong>
  <%= Typ.find(@menu.typ_id).discription %>
</p>

<p>
  <strong>Order:</strong>
  <%= @menu.order %>
</p>

<p>
  <strong>Location:</strong>
  <%= Location.find(@menu.location_id).name %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
