<p id="notice"><%= notice %></p>

<h1>Listing Contentperpages</h1>

<table>
  <thead>
    <tr>
      <th>Contentid</th>
      <th>Subitemid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contentperpages.each do |contentperpage| %>
      <tr>
        <td><%= contentperpage.contentid %></td>
        <td><%= contentperpage.subitemid %></td>
        <td><%= link_to 'Show', contentperpage %></td>
        <td><%= link_to 'Edit', edit_contentperpage_path(contentperpage) %></td>
        <td><%= link_to 'Destroy', contentperpage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contentperpage', new_contentperpage_path %>
