<p id="notice"><%= notice %></p>


<% @contentselectet.all.each do |content|
%>
        <div >
          <table><tr>

            <td><%= Content.find(content.content_id).text %></td>
            <td><%= link_to 'auswählen', edit_contentperpage_path(:id => content, :menu => @contentperpagemenuid ) %></td>

          </tr>
          </table>
        </div>
<%end %>
<% @contentnotelectet.all.each do |content| %>
        <div ><table> <tr>

          <td><%= content.text %></td>
          <td><%=link_to 'auswählen', new_contentperpage_path(:menu => @contentperpagemenuid,:content => content)  %></td>


        </tr>
        </table>
        </div>
<%end%>


<%= link_to 'Back', contentperpages_path %>
