<p id="notice"><%= notice %></p>

<p>
  <strong>Contentid:</strong>
  <%= @contentperpage.content_id %>
</p>

<p>
  <strong>Subitemid:</strong>
  <%= @contentperpage.menu_id %>
</p>

<%= link_to 'Edit', edit_contentperpage_path(@contentperpage) %> |
<%= link_to 'Back', contentperpages_path %>
